# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# The localhost postman environment file
Localhost.postman_environment.json

# VS Code and other files related to sonar scanning
.vscode
.scannerwork
bw-output
cp.out
.sonar.sh
newman.sh

go.sum